<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=highavailabilitydata;AccountKey=0nR9HfUpUbjh8j/M2o+NfiIGv64nhOp+QL9vJQBJCxN3e2DGV7A1wmrYcYubxjEXvTpsS42EV5BmchERVmHUtQ==" />
  </connectionStrings>
</configuration>